@font-face {
	font-family: "ltm";
	src: url("./font/icons.eot");
	src: url("./font/icons.eot") format("embedded-opentype"),
		url("./font/icons.woff2") format("woff2"),
		url("./font/icons.woff") format("woff"),
		url("./font/icons.ttf") format("truetype"),
		url("./font/icons.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	font-family: "ltm";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-fish::before { content: "\e800"; }

.icon-kiwi-bird::before { content: "\e801"; }

.icon-walking::before { content: "\e802"; }

.icon-child::before { content: "\e803"; }

.icon-walk::before { content: "\e805"; }

.icon-binoculars::before { content: "\e806"; }

.icon-paw::before { content: "\e807"; }

.icon-dog::before { content: "\e808"; }

.icon-bird::before { content: "\e809"; }

.icon-left::before { content: "\e80a"; }

.icon-left-open::before { content: "\f007"; }

.icon-tree::before { content: "\f1bb"; }

.icon-bicycle::before { content: "\f206"; }

.icon-search::before { content: "\e804"; }

.icon-filter::before { content: "\e80b"; }

.icon-flag-empty::before { content: "\f11d"; }

.icon-flag::before { content: "\e80c"; }

.icon-comment::before { content: "\e80d"; }

.icon-comment-empty::before { content: "\f0e5"; }

.icon-cog::before { content: "\e80e"; }

.icon-cancel::before { content: "\e80f"; }

.icon-eye::before { content: "\e810"; }

.icon-pin::before { content: "\e811"; }

.icon-star::before { content: "\e812"; }

.icon-star-empty::before { content: "\e813"; }

.icon-heart-empty::before { content: "\e814"; }

.icon-heart::before { content: "\e815"; }

.icon-flower::before { content: "\e816"; }

.icon-wall::before { content: "\e817"; }

.icon-parking::before { content: "\e818"; }

.icon-ok::before { content: "\e819"; }

.icon-caret-down::before { content: "\e81a"; }

.icon-angle-down::before { content: "\f004"; }
